#otp{
      width: 500px;
      overflow: hidden;
      background: white;
      box-shadow: 0 0 10px black;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      padding: 10px;
      text-align: center;
      display: none;
    }
    #otp span{
      color: rgb(155, 159, 161);
      font-size: 20px;
      display: block;
      margin: 20px 0;
    }
    #otp h1{
      color: brown
    }
    .close{
      font-size: 18px;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      background: rgb(111, 111, 223);
      display: inline-block;
      border-radius: 1px solid #000;
 
    }
    
    .btn{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: pink;
          font-size: 20px;
          color: white;
          padding: 10px 30px;        
          cursor: pointer;
        
        }
        
#formButton{
    background-color: #50a753; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
}
        
#form {
    max-width: 240px;
    margin: 25px auto 0;
}

#form input:focus {
    border-color: rgb(197, 248, 255);
    box-shadow: 0 0 5px rgb(66, 201, 255) inset;
  }
  
  .digit-group input {
    width: 30px;
    height: 50px;
    background-color: #e7e7e7;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: rgb(15, 15, 15);
    margin: 0 2px;
  }
  

  #condition{
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    width: 50%;
  padding: 10px;
  
  }