.home-animation-mega-container{
  padding-top: 90px;
  background: #59759a;
}

.animated-text,.animation-text2 {
  font-weight: 200;
  /* margin: 0.4em 0; */
}
.animated-text { 
  font-size: 2.4em; 
}

.animation-text2 {
  color: #888;
  font-size: 28px;
}

#popup-two {
  display: none;
}

.b-btn {
	font-weight: 400;
	padding: 6px 12px;
	line-height: 2.42857 !important;
	font-size: 18px !important;
	border-radius: 4px;
	border: 3px solid #385eb5 !important;
}

.animate-btn {
	color: #333 !important;
	background-color: #fff;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.btn-degree-popupone {
  width: 255px;
  height: 55px;
  margin: 5px;
}

.btn-degree-popuptwo {
  min-width: 300px;
  height: 55px;
  font-size: 18px !important;
  margin: 5px;
}

.carousel-top {
  padding-top: 250px;
  padding-left: 75px;
}

.animate-btn:hover {
  /* background-color: rgb(63, 66, 63) !important; */
  color: rgb(31, 30, 30) !important;
  line-height: 2.72557 !important;
  background-color: #ffc549 !important;
  letter-spacing: 1px !important;
  border: 0px !important;
}

#popup_back {
  font-size: 10.5pt;
}
#popup_back:hover {
  cursor: pointer;
}